* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.primary-color {
  color: #333333;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #0076ce;
}

.nav-item a:hover {
  color: #0076ce;
}

#navbar a.active {
  color: #0076ce;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #ffffff;
}

.nav-item {
  padding: 0px 16px;
}

.nav-link {
  text-align: center;
}

.navbar-brand img {
  width: 180px;
}

/* INÍCIO */

.content-inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./src/img/backgroud-inicio.png");
  height: 100vh;
  width: 100%;
  gap: 120px;
}

.img-inicio img{
  width: 520px;
}

.inicio-content-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header h1 {
  font-family: "Zen Dots", sans-serif;
  font-size: 3rem;
}

/* ANIMAÇÂO */

.rotate {
  /* Define quantos segundos dura a animacao */
  animation: spinner 100s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: 846px;
  height: 846px;
}

@media (max-width: 991px) {
  .content-inicio {
    flex-direction: column;
    height: auto;
    padding-top: 120px;
    width: 100%;
  }

  .img-inicio img{
    width: 240px;
  }

  .header h1 {
    font-family: "Zen Dots", sans-serif;
    font-size: 2rem;
  }

  .header h2 {
    font-size: 1.5rem;
  }

  .inicio-content-container p {
    font-size: 1rem;
  }
}

/* QUEM SOMOS */

.quem-somos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 120px;
}

.quem-somos img {
  width: 480px;
}

.quem-somos-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.quem-somos-content h1 {
  font-family: "Zen Dots", sans-serif;
  font-size: 3rem;
}








/* FOOTER */
.footer {
  padding: 64px 120px;
}

.footer-

.footer-link {
  text-align: flex-start;
  text-decoration: none;
}

.footer-menu a:hover {
  text-align: flex-start;
  color: #0076ce;
}

.social-icons i {
  color: #0076ce;
  font-size: 1.5rem;
}